.farm-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4em auto;
  width: fit-content;
  position: relative;
  padding: 2em;
  background-color: white;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
  text-align: center;
}
.farm-form-container form {
  display: flex;
  flex-direction: column;
}
.farm-form-container input[type="text"],
.farm-form-container input[type="email"],
.farm-form-container input[type="tel"],
.farm-form-container input[type="date"],
.farm-form-container input[type="time"] {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}
.farm-form-container input[type="submit"] {
  background-color: #ff385c;
  padding: 0.7rem;
  border-radius: 5px;
  border: none;
  transition: 0.3s ease;
  font-size: 0.9em;
  color: white;
  cursor: pointer;
}
.farm-form-container input[type="submit"]:hover {
  background-color: var(--DarkBlue);
  padding: 0.7rem;
  border-radius: 5px;
  border: none;
}
.farm-form-container .texts {
  display: flex;
  justify-content: space-around;
}
.register-label {
  padding-top: 2em;
  font-size: 1.2em !important;
  color: brown;
}

.Btns {
  display: flex;
  justify-content: space-evenly;
}
