.farm-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4em auto;
  width: fit-content;
  position: relative;
  padding: 2em;
  background-color: var(--white);
  text-align: center;
  border: 0.5px solid rgba(128, 128, 128, 0.623);
  border-radius: 7px;
}
.farm-form form {
  display: flex;
  flex-direction: column;
}

.farm-form input[type="submit"] {
  background-color: #ff385c;
  padding: 0.7rem;
  border-radius: 5px;
  border: none;
  transition: 0.3s ease;
  font-size: 0.9em;
  color: white;
  cursor: pointer;
}
.farm-form input[type="submit"]:hover {
  background-color: var(--DarkBlue);
  padding: 0.7rem;
  border-radius: 5px;
  border: none;
}
.farm-form .texts {
  display: flex;
  justify-content: space-around;
}

.Btns {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}
.total {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.dates {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1.5rem auto;
}

.dates-label {
  display: block;
}

.farm-form input[type="text"],
.farm-form input[type="email"],
.farm-form input[type="tel"],
.farm-form input[type="date"],
.farm-form input[type="time"] {
  border: 2px solid rgba(128, 128, 128, 0.623);
  border-radius: 5px;
  font-size: 14px;
  padding: 10px;
  width: 90%;
}

.apply-discount {
  background-color: var(--DarkBlue);
  padding: 0.7rem;
  border-radius: 5px;
  border: none;
  transition: 0.3s ease;
  font-size: 0.9em;
  color: white;
  cursor: pointer;
}
.apply-discount:hover {
  background-color: #ff385c;
  padding: 0.7rem;
  border-radius: 5px;
  border: none;
}
